# Strat discovery
Functionality:
- Review constants
- Run
- Allow saving progress and quitting
- End with visualizations and choosing which strats to go

## Imports

In [1]:
import discovery_downloader as ddl
import adf_calculator as adfc
import param_discovery as pmd
# from datetime import datetime
# import numpy as np
# import time

## Constants and Paramaters

In [2]:
## File names
PATHNAME = "../data/strat-discovery/"
HOURPATH = "../data/hour/"
MINUTEPATH = "../data/minute/"
ALL_ISOLATED_PAIRS = "all_isolated_pairs.csv"
ADF_STATS = "adf_stats.csv"
ADF_STATS_FILTERED = "adf_stats_filtered.csv"
DOWNLOAD_ORDER = "download_order.csv"
CURRENT_ADF = "current_adf.csv"
PAIR_RESULTS = "results.csv"

## Get all margin assets on Binance

In [12]:
ddl.download_all_available_margin_assets(PATHNAME, ALL_ISOLATED_PAIRS) #RUNTIME: 1 second

## Download hourly data

In [3]:
ddl.download_all_hourly_data(PATHNAME, ALL_ISOLATED_PAIRS, HOURPATH)

Operation took 27.74 minutes to download 231 files

## Compute ADF tests

In [3]:
adfc.compute_adf_tests(PATHNAME, HOURPATH, ALL_ISOLATED_PAIRS, ADF_STATS, 10000)

Operation took 255.86 minutes

## Get filtered pairs

In [4]:
adfc.filter_adf_tests(PATHNAME, ADF_STATS, ADF_STATS_FILTERED, min_h=0, max_p=0.05, sort="p")

## Get download order

In [3]:
ddl.get_download_order(PATHNAME, ADF_STATS_FILTERED, DOWNLOAD_ORDER)

## Download minutely data in parallel
Go to Minute-Downloader and start downloading. Wait until the first two have finished downloadig before proceeding with below

http://localhost:8888/lab/tree/discovery/minute-downloader.ipynb

## Strat searching

In [3]:
RESTART = False
CONTINUE_FROM_LEFT_OFF = True

In [4]:
pmd.brute_force_search(RESTART, CONTINUE_FROM_LEFT_OFF, PATHNAME, 
                       ADF_STATS_FILTERED, CURRENT_ADF, PAIR_RESULTS)

Now doing a: NKNUSDT, b: TRXUSDT
Now doing lookback: 4000, thres: 3.0, sell_thres: -0.5, safe to kill kernel
Error in processing NKNUSDT and TRXUSDT, kill kernal again to quit
Successfully quit

## Analysis

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv(PATHNAME + ADF_STATS_FILTERED)

In [24]:
df = df[100:]

In [25]:
df

              A          B         t             p           h
100    MITHUSDT    OGNUSDT -6.348362  2.774105e-07   50.108144
101     MTLUSDT    ONGUSDT -6.342500  2.859457e-07   78.393491
102    DENTUSDT    MBLUSDT -6.342336  2.861886e-07   59.123494
103    ANKRUSDT   MITHUSDT -6.334893  2.974071e-07  104.863935
104    CTXCUSDT    TCTUSDT -6.328173  3.079050e-07   48.885905
...         ...        ...       ...           ...         ...
2574   CTSIUSDT    ZECUSDT -3.337381  4.979716e-02  168.506946
2575    CHRUSDT  THETAUSDT -3.337219  4.981764e-02  225.921638
2576    BNTUSDT    ONGUSDT -3.336528  4.990561e-02  131.222281
2577    REPUSDT   TROYUSDT -3.336256  4.994012e-02  107.192782
2578  TFUELUSDT    TRXUSDT -3.336002  4.997253e-02  539.170191

[2479 rows x 5 columns]

In [26]:
df.reset_index(inplace=True, drop=True)

In [27]:
df

              A          B         t             p           h
0      MITHUSDT    OGNUSDT -6.348362  2.774105e-07   50.108144
1       MTLUSDT    ONGUSDT -6.342500  2.859457e-07   78.393491
2      DENTUSDT    MBLUSDT -6.342336  2.861886e-07   59.123494
3      ANKRUSDT   MITHUSDT -6.334893  2.974071e-07  104.863935
4      CTXCUSDT    TCTUSDT -6.328173  3.079050e-07   48.885905
...         ...        ...       ...           ...         ...
2474   CTSIUSDT    ZECUSDT -3.337381  4.979716e-02  168.506946
2475    CHRUSDT  THETAUSDT -3.337219  4.981764e-02  225.921638
2476    BNTUSDT    ONGUSDT -3.336528  4.990561e-02  131.222281
2477    REPUSDT   TROYUSDT -3.336256  4.994012e-02  107.192782
2478  TFUELUSDT    TRXUSDT -3.336002  4.997253e-02  539.170191

[2479 rows x 5 columns]

In [72]:
def get_download_order(pathname, adf_stat, filename):
    """saves the download order"""
    df = pd.read_csv(pathname + adf_stat)
    symbols = []
    for row in range(df.shape[0]):
        symbols.append(df.iloc[row].A)
        symbols.append(df.iloc[row].B)

    seen = set()
    seen_add = seen.add
    symbols = [x for x in symbols if not (x in seen or seen_add(x))]
    pd.Series(symbols).to_csv(pathname + filename, index=False)

In [74]:
len(symbols)

103

In [71]:
d

['DREPUSDT',
 'WINUSDT',
 'HOTUSDT',
 'MTLUSDT',
 'NKNUSDT',
 'ANKRUSDT',
 'WRXUSDT',
 'BTTUSDT',
 'OGNUSDT',
 'GTOUSDT',
 'CELRUSDT',
 'NPXSUSDT',
 'BTSUSDT',
 'CTXCUSDT',
 'CHZUSDT',
 'ENJUSDT',
 'MITHUSDT',
 'ETCUSDT',
 'RLCUSDT',
 'BNBUSDT',
 'VETUSDT',
 'ONEUSDT',
 'TFUELUSDT',
 'WANUSDT',
 'DOGEUSDT',
 'LSKUSDT',
 'TCTUSDT',
 'FETUSDT',
 'STPTUSDT',
 'BATUSDT',
 'WTCUSDT',
 'CTSIUSDT',
 'KEYUSDT',
 'AIONUSDT',
 'IOSTUSDT',
 'IOTAUSDT',
 'COCOSUSDT',
 'MFTUSDT',
 'KNCUSDT',
 'QTUMUSDT',
 'TRXUSDT',
 'THETAUSDT',
 'ARDRUSDT',
 'TROYUSDT',
 'ICXUSDT',
 'ZRXUSDT',
 'VITEUSDT',
 'CVCUSDT',
 'ARPAUSDT',
 'NANOUSDT',
 'XRPUSDT',
 'NULSUSDT',
 'HIVEUSDT',
 'MATICUSDT',
 'DENTUSDT',
 'HBARUSDT',
 'ONGUSDT',
 'MBLUSDT',
 'STMXUSDT',
 'BEAMUSDT',
 'ATOMUSDT',
 'FTMUSDT',
 'IOTXUSDT',
 'DUSKUSDT',
 'XLMUSDT',
 'EOSUSDT',
 'ETHUSDT',
 'PERLUSDT',
 'COSUSDT',
 'REPUSDT',
 'DOCKUSDT',
 'DASHUSDT',
 'NEOUSDT',
 'XMRUSDT',
 'LTOUSDT',
 'MDTUSDT',
 'XTZUSDT',
 'STXUSDT',
 'ADAUSDT',
 'WAVESUSDT',
 'DATAUSDT',
 'ONTUSDT',
 'FUNUSDT',
 'ZILUSDT',
 'FTTUSDT',
 'PNTUSDT',
 'COTIUSDT',
 'ALGOUSDT',
 'ZECUSDT',
 'RVNUSDT',
 'BCHUSDT',
 'LTCUSDT',
 'BTCUSDT',
 'OMGUSDT',
 'CHRUSDT',
 'BNTUSDT',
 'LINKUSDT',
 'TOMOUSDT',
 'GXSUSDT',
 'KAVAUSDT',
 'LRCUSDT',
 'RENUSDT',
 'BANDUSDT']

In [31]:
150*10/60

25.0