# Time bars downloader

Purpose: Downloading historical crypto data for TESTING (Cause volume is superior but more computationally intensive)

In [1]:
# Imports
import pandas as pd
from binance.client import Client
import datetime
import json

In [2]:
def get_api_keys(site: str, api_type: str)->str:
    """
    gets api keys stored in api-keys/api-keys.txt
    site: 'binance'
    api_type: 'api', 'secret'
    """
    with open('../../api-keys/api-keys.txt') as json_file:
        return json.load(json_file)[site][api_type]

In [3]:
# Constants
api_key = get_api_keys("binance", "api")
api_secret = get_api_keys("binance", "secret")

bclient = Client(api_key=api_key, api_secret=api_secret)

In [4]:
def binance_downloader(symbol:str, kline_interval:object, interval_name:str, path="data/", start="1 Jan 1900"):
    """
    downloads binance data
    symbol: BTCUSDT
    kline_interval: Client.KLINE_INTERVAL_1DAY, Client.KLINE_INTERVAL_1DAY, Client.KLINE_INTERVAL_1DAY
    interval_name: only used for csv name: BTCUSDT-interval_name.csv
    start: empty if from the very beginning
    """
    start_date = datetime.datetime.strptime(start, '%d %b %Y')
    today = datetime.datetime.today()
    filename = "../../data/minute/" + symbol + "-" + interval_name + ".csv"
#     print(f"downloading {filename}", end='\r')
#     klines = bclient.get_klines(symbol='BTCUSDT', interval=Client.KLINE_INTERVAL_1MINUTE)
    klines = bclient.get_historical_klines(symbol, kline_interval, start_date.strftime("%d %b %Y %H:%M:%S"), today.strftime("%d %b %Y %H:%M:%S"), 1000)
    data = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore' ])
    data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')
    data.set_index('timestamp', inplace=True)
    data.to_csv(filename)
#     print(f"downloaded {filename}   ")

## Binance downloader

### symbol
- "BTCUSDT"

### kline_interval
- `Client.KLINE_INTERVAL_1MINUTE`
- `Client.KLINE_INTERVAL_1HOUR`
- `Client.KLINE_INTERVAL_1DAY`

### interval_name
- "minute"
- "hour"
- "day"

In [5]:
# symbols = bclient.get_all_isolated_margin_symbols()
# fsymbols = list(filter(lambda x: "USDT" in x["symbol"], symbols))
# pairs = list(map(lambda x: x["symbol"], fsymbols))
# pd.Series(pairs).to_csv("../data/testing-hourly/0-pairs.csv", index=False)

In [9]:
symbols = list(pd.read_csv("../../data/pairs/to-download.csv", squeeze=True))

In [16]:
symbols1 = symbols[:10]
symbols2 = symbols[10:20]
symbols3 = symbols[20:30]
symbols4 = symbols[30:40]
symbols5 = symbols[40:50]
symbols6 = symbols[50:]

In [21]:
symbols = symbols2 + symbols3 + symbols4 + symbols5 + symbols6

In [28]:
ss = symbols[9:]

In [29]:
import time
# symbols = ["BTCUSDT", "ETHUSDT", "DOTUSDT", "ADAUSDT", "LTCUSDT", "ZECUSDT", "XMRUSDT",
#            "ETCUSDT", "XLMUSDT", "BCHUSDT", "EOSUSDT", "DASHUSDT", "NANOUSDT"]
# symbols = pairs
symbols = ss
for symbol in symbols: 
    start_time = time.time()
    binance_downloader(symbol=symbol, 
                       kline_interval=Client.KLINE_INTERVAL_1MINUTE, 
                       interval_name="minute", #hour
                       start="10 Jan 1971")
    print(f"Downloaded {symbol} in {str(round((time.time() - start_time)/60, 2))} minutes, sleeping 30 seconds")
    time.sleep(30)
    bclient = Client(api_key=api_key, api_secret=api_secret)
# hour-target"
# "hour-predict"

Downloaded NULSUSDT in 13.83 minutes, sleeping 30 seconds
Downloaded NEOUSDT in 16.96 minutes, sleeping 30 seconds
Downloaded KAVAUSDT in 8.08 minutes, sleeping 30 seconds
Downloaded TCTUSDT in 7.02 minutes, sleeping 30 seconds
Downloaded IOSTUSDT in 11.09 minutes, sleeping 30 seconds
Downloaded FETUSDT in 11.12 minutes, sleeping 30 seconds
Downloaded ATOMUSDT in 14.67 minutes, sleeping 30 seconds
Downloaded DREPUSDT in 7.18 minutes, sleeping 30 seconds
Downloaded DUSKUSDT in 9.23 minutes, sleeping 30 seconds
Downloaded BEAMUSDT in 8.72 minutes, sleeping 30 seconds
Downloaded CHZUSDT in 9.22 minutes, sleeping 30 seconds
Downloaded ARPAUSDT in 8.47 minutes, sleeping 30 seconds
Downloaded XTZUSDT in 10.95 minutes, sleeping 30 seconds
Downloaded STPTUSDT in 6.05 minutes, sleeping 30 seconds
Downloaded ONEUSDT in 9.86 minutes, sleeping 30 seconds
Downloaded CTSIUSDT in 5.79 minutes, sleeping 30 seconds
Downloaded MTLUSDT in 8.6 minutes, sleeping 30 seconds

## For special

In [4]:
def binance_downloader(symbol:str, kline_interval:object, path="data/", start="1 Jan 1980"):
    """
    downloads binance data
    symbol: BTCUSDT
    kline_interval: Client.KLINE_INTERVAL_1DAY, Client.KLINE_INTERVAL_1DAY, Client.KLINE_INTERVAL_1DAY
    start: empty if from the very beginning
    """
    start_date = datetime.datetime.strptime(start, '%d %b %Y')
    today = datetime.datetime.today()
    filename = "../../data/" + symbol + "-past.csv"
#     print(f"downloading {filename}", end='\r')
#     klines = bclient.get_klines(symbol='BTCUSDT', interval=Client.KLINE_INTERVAL_1MINUTE)
    klines = bclient.get_historical_klines(symbol, kline_interval, start_date.strftime("%d %b %Y %H:%M:%S"), limit=1000)
    data = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore'])
    data = data[['timestamp', 'open', 'high', 'low', 'close', 'volume']]
#     data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')
#     data.set_index('timestamp', inplace=True)
    data.to_csv(filename, index=False)
#     print(f"downloaded {filename}   ")

In [14]:
import time
# symbols = ["BTCUSDT", "ETHUSDT", "DOTUSDT", "ADAUSDT", "LTCUSDT", "ZECUSDT", "XMRUSDT",
#            "ETCUSDT", "XLMUSDT", "BCHUSDT", "EOSUSDT", "DASHUSDT", "NANOUSDT"]
symbols = ["ALGOUSDT"]
for symbol in symbols: 
    start_time = time.time()
    binance_downloader(symbol=symbol, 
                       kline_interval=Client.KLINE_INTERVAL_1MINUTE, 
                       start="2 Aug 2021")
    print(f"Downloaded {symbol} in {str(round((time.time() - start_time)/60, 2))} minutes")

# hour-target"
# "hour-predict"

Downloaded ALGOUSDT in 0.03 minutes

In [6]:
symbol = "BTCUSDT"

In [9]:
klines = bclient.get_historical_klines(symbol, 
                                       Client.KLINE_INTERVAL_1MINUTE, 
                                       datetime.datetime.strptime("2 Aug 2021", '%d %b %Y').strftime("%d %b %Y %H:%M:%S"), 
                                       limit=1000)
data = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore'])

In [17]:
klines = bclient.get_klines(symbol=symbol, interval=Client.KLINE_INTERVAL_1MINUTE)
data = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore'])

In [18]:
data

,timestamp,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
0,1628013240000,38071.42000000,38106.98000000,38054.40000000,38061.39000000,38.15257500,1628013299999,1452736.20266024,776,10.46583600,398537.69606285,0
1,1628013300000,38058.73000000,38101.01000000,38008.00000000,38049.94000000,73.39106300,1628013359999,2792076.73361594,1497,28.26105500,1075253.28126117,0
2,1628013360000,38049.94000000,38077.04000000,38035.49000000,38039.98000000,31.89693900,1628013419999,1213835.32410095,696,19.90833100,757644.55925391,0
3,1628013420000,38037.88000000,38050.72000000,38020.01000000,38039.99000000,21.52177600,1628013479999,818589.86019896,698,11.27474600,428829.35630462,0
4,1628013480000,38039.99000000,38042.09000000,38008.81000000,38035.00000000,21.57928600,1628013539999,820604.79683770,673,10.35139700,393647.30276254,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,1628042940000,38363.21000000,38371.78000000,38287.43000000,38310.67000000,28.45327200,1628042999999,1090437.93771345,826,7.76312500,297579.55311984,0
496,1628043000000,38308.00000000,38322.99000000,38285.72000000,38289.67000000,23.64431800,1628043059999,905643.00060591,533,9.60917100,368076.06670793,0
497,1628043060000,38289.67000000,38302.23000000,38252.14000000,38252.90000000,17.67274100,1628043119999,676414.00012639,802,8.05956800,308484.84001602,0
498,1628043120000,38252.89000000,38273.77000000,38225.30000000,38273.39000000,27.79162300,1628043179999,1063106.99385395,710,15.46394400,591646.10171779,0
499,1628043180000,38277.82000000,38279.99000000,38273.40000000,38276.52000000,1.93278000,1628043239999,73983.21696816,35,0.46514700,17803.59423629,0

In [12]:
data

,timestamp,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
0,1628012580000,38141.08000000,38184.67000000,38121.24000000,38184.67000000,28.08892500,1628012639999,1071494.11517804,775,9.80885700,374202.06905748,0
1,1628012640000,38189.76000000,38197.81000000,38157.78000000,38191.55000000,19.45919800,1628012699999,742805.46870731,633,9.31962500,355762.19841296,0
2,1628012700000,38191.54000000,38212.96000000,38155.00000000,38164.37000000,22.02653900,1628012759999,841073.21369375,624,10.49166200,400614.71046852,0
3,1628012760000,38164.36000000,38205.03000000,38126.36000000,38179.27000000,29.42877200,1628012819999,1123366.05128365,726,14.97565800,571625.93290310,0
4,1628012820000,38179.28000000,38196.00000000,38108.19000000,38119.96000000,22.43388100,1628012879999,855809.72661569,934,6.50310500,248108.71642423,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,1628042280000,38388.10000000,38406.49000000,38326.31000000,38338.29000000,61.26294100,1628042339999,2350247.74023980,783,20.90289400,801581.02482623,0
496,1628042340000,38336.96000000,38355.99000000,38330.67000000,38355.99000000,20.55428300,1628042399999,788095.17011152,264,18.80001700,720823.47718495,0
497,1628042400000,38355.99000000,38389.43000000,38355.98000000,38382.54000000,8.82093800,1628042459999,338493.64568026,433,4.97754800,191001.33811498,0
498,1628042460000,38382.54000000,38392.15000000,38377.05000000,38377.06000000,12.83076000,1628042519999,492531.73142469,502,8.97202600,344411.56951990,0
499,1628042520000,38377.06000000,38406.36000000,38359.00000000,38404.47000000,12.75333200,1628042579999,489472.39554812,384,7.50009400,287866.91201936,0

In [15]:
pd.read_csv("../../data/" + symbol + "-past.csv")

          timestamp    open    high     low   close    volume
0     1627776000000  0.8391  0.8406  0.8386  0.8405  31568.49
1     1627776060000  0.8404  0.8404  0.8364  0.8364   9470.21
2     1627776120000  0.8365  0.8368  0.8332  0.8340  80461.83
3     1627776180000  0.8336  0.8353  0.8331  0.8353  24315.03
4     1627776240000  0.8350  0.8360  0.8349  0.8360  22718.16
...             ...     ...     ...     ...     ...       ...
3038  1627958280000  0.8131  0.8132  0.8118  0.8122  13843.01
3039  1627958340000  0.8122  0.8122  0.8112  0.8112  17402.94
3040  1627958400000  0.8115  0.8119  0.8115  0.8116    840.91
3041  1627958460000  0.8112  0.8112  0.8109  0.8111    666.55
3042  1627958520000  0.8115  0.8125  0.8115  0.8116  27195.95

[3043 rows x 6 columns]